body, html {
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas {
  image-rendering: pixelated;
}


.minimap {
  position: relative;
}
.minimap canvas {
  position: absolute;
  top: 0;
  left: 0;
}